In [1]:
import pandas as pd
import folium
import matplotlib.pyplot as plt
#from keplergl import KeplerGl

In [74]:
df=pd.read_csv('./data/2024.csv')
df

,icao_number,tail_number,aircraft_model,start,start_lat,start_lon,start_altitude,end,end_lat,end_lon,end_altitude,duration,distance,great_circle_distance,hours_above_30000,hours_above_40000,co2_emissions
0,a8f399,N676SG,PILATUS PC-12,2024-07-02T19:09:09.97Z,25.865075,-100.235283,0.0,2024-07-02T20:21:26.6Z,21.730042,-102.305885,0.0,1.204619,525.531984,505.726673,-0.000000,-0.000000,876.099548
1,a8f399,N676SG,PILATUS PC-12,2024-07-02T20:21:26.6Z,21.730042,-102.305885,0.0,2024-07-02T20:48:44.4Z,20.526730,-103.322774,0.0,0.454944,209.253557,170.372093,-0.000000,-0.000000,330.873475
2,a8f399,N676SG,PILATUS PC-12,2024-07-03T01:07:53.64Z,20.517212,-103.300161,0.0,2024-07-03T01:26:50.89Z,19.518655,-103.467341,12125.0,0.315903,122.769651,112.399829,-0.000000,-0.000000,229.750800
3,a8f399,N676SG,PILATUS PC-12,2024-07-03T14:25:31.66Z,19.320694,-103.017131,16750.0,2024-07-03T19:48:48.59Z,19.324765,-102.966364,14900.0,5.388036,270.769202,5.346246,-0.000000,-0.000000,3918.628427
4,a8f399,N676SG,PILATUS PC-12,2024-07-04T17:30:32.03Z,19.549705,-103.511735,10675.0,2024-07-04T19:32:33.369999999Z,26.017273,-98.236015,250.0,2.033706,934.435794,899.564653,-0.000000,-0.000000,1479.079991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4376975,a666f6,N511UP,CESSNA 560XL Citation XLS,2024-04-25T17:30:59.41Z,40.086598,-75.007095,100.0,2024-04-25T20:03:09.65Z,25.958738,-81.662011,450.0,2.536178,1845.730351,1687.680400,1.650000,-0.000000,5339.398909
4376976,a666f6,N511UP,CESSNA 560XL Citation XLS,2024-04-25T20:59:33.84Z,25.938766,-81.644068,1875.0,2024-04-25T21:11:51.62Z,26.148893,-81.777893,0.0,0.204939,61.736920,26.919755,-0.000000,-0.000000,431.456536
4376977,a666f6,N511UP,CESSNA 560XL Citation XLS,2024-04-29T13:32:08.29Z,26.153233,-81.775096,25.0,2024-04-29T14:03:59.08Z,27.398975,-82.559134,0.0,0.530775,223.286860,158.887922,-0.000000,-0.000000,1117.437224
4376978,a666f6,N511UP,CESSNA 560XL Citation XLS,2024-04-29T16:25:21.5Z,27.401520,-82.562071,0.0,2024-04-29T19:14:44.19Z,42.743031,-73.804514,0.0,2.822969,2031.027627,1880.269194,2.015278,0.162778,5943.179577
4376979,a666f6,N511UP,CESSNA 560XL Citation XLS,2024-04-30T23:33:18.07Z,42.755516,-73.805029,0.0,2024-04-30T23:59:49.62Z,40.726039,-74.033931,3050.0,0.442097,229.260850,226.465024,-0.000000,-0.000000,930.744464

# Data Processing

In [76]:
# 假設 df 是原始資料
# Step 1：先四欄都 round 一下（可以避免浮點誤差，如果需要的話）
df['start_lat'] = df['start_lat'].round(1)
df['start_lon'] = df['start_lon'].round(1)
df['end_lat'] = df['end_lat'].round(1)
df['end_lon'] = df['end_lon'].round(1)

# Step 2：依照四欄 groupby 並統計次數
route_counts = df.groupby(['start_lat', 'start_lon', 'end_lat', 'end_lon']).size().reset_index(name='count')

# 結果：每筆是一條獨特的路線＋它出現的次數
print(route_counts.head())

   start_lat  start_lon  end_lat  end_lon  count
0      -70.9      162.7     19.1     73.2      1
1      -70.9      162.7     24.3     54.7      1
2      -55.4      -68.0    -54.8    -68.8      1
3      -54.9      -68.4    -34.8    -58.5      1
4      -54.9      -68.2    -51.6    -69.3      1

In [77]:
# 建立一個方向不敏感的 key（先排序再 groupby）
df['route_key'] = df.apply(
    lambda row: tuple(sorted([
        (row['start_lat'], row['start_lon']),
        (row['end_lat'], row['end_lon'])
    ])),
    axis=1
)

route_counts = df.groupby('route_key').size().reset_index(name='count')

# 分開 key 成四欄（可選）
route_counts[['pt1_lat', 'pt1_lon']] = pd.DataFrame([x[0] for x in route_counts['route_key']], index=route_counts.index)
route_counts[['pt2_lat', 'pt2_lon']] = pd.DataFrame([x[1] for x in route_counts['route_key']], index=route_counts.index)

# 如果不需要 key 可以刪掉
route_counts = route_counts.drop(columns='route_key')

In [78]:
route_counts

        count  pt1_lat  pt1_lon  pt2_lat  pt2_lon
0           1    -70.9    162.7     19.1     73.2
1           1    -70.9    162.7     24.3     54.7
2           1    -55.6    -68.3    -54.8    -69.1
3           1    -55.4    -68.0    -54.8    -68.8
4           1    -55.0    -66.1    -54.8    -68.3
...       ...      ...      ...      ...      ...
946592      1     71.2     28.3     71.3     27.5
946593      1     71.5     26.8     72.1     28.1
946594      1     71.8     26.1     72.2     27.7
946595      1     72.7    -78.0     73.0    -84.6
946596      1     73.0    -84.6     73.2    -86.0

[946597 rows x 5 columns]

In [79]:
route_counts.nlargest(10, 'count')

        count  pt1_lat  pt1_lon  pt2_lat  pt2_lon
192157   9221     20.8   -157.0     21.3   -157.9
499901   4296     34.2   -118.5     36.1   -115.2
882894   3157     48.4    -89.3     50.1    -91.9
476129   2785     33.7   -117.9     36.1   -115.2
273886   2434     26.7    -80.1     41.1    -73.7
273865   2387     26.7    -80.1     40.9    -74.1
730237   2271     40.9    -74.1     42.5    -71.3
906810   2203     51.1   -114.0     53.3   -113.6
729941   2187     40.9    -74.1     41.1    -73.7
853763   2179     46.2      6.1     49.0      2.4

In [80]:
# 取出前 N 條（次數最多的）
top_routes = route_counts.sort_values(by='count', ascending=False).head(2500)
top_routes.to_csv("top_route_counts_2024.csv", index=False)

# Plot

In [82]:
# 建立地圖（用第一條作為中心）
m = folium.Map(location=[top_routes['pt1_lat'].iloc[0], top_routes['pt1_lon'].iloc[0]], zoom_start=10)

for _, row in top_routes.iterrows():
    start = (row['pt1_lat'], row['pt1_lon'])
    end = (row['pt2_lat'], row['pt2_lon'])

    folium.PolyLine(
        locations=[start, end],
        color="blue",
        weight=max(1, row['count'] / top_routes['count'].max() * 8),
        opacity=0.6
    ).add_to(m)

# 存檔
m.save("top_routes_map_2024.html")